<div class="container">
  <div class="form-group">
    <select class="form-control mt-4" id="exampleFormControlSelect1">
      <option disabled selected>類別</option>
      <option value="house">家居物業</option>
      <option value="transportation">交通出行</option>
      <option value="entertainment">休閒娛樂</option>
      <option value="food">餐飲食品</option>
      <option value="others">其他</option>
    </select>
  </div>
  <div class="totalAmout mb-5">
    <h3>總金額:</h3>
    <h1 style="text-align: end">$400</h1>
  </div>
  <div>
    <a class="btn" href="/">新增支出明細</a>
  </div>
  <ul>
    <li class='list-group-item'>
      <div class="row">
        <div class="col-auto mr-auto">
          <h4 style="display: inline; vertical-align: middle;">
            <i class="fas fa-utensils">
              <h3>test</h3>
            </i>

          </h4>
        </div>
        <div class="col-auto">
          <a class="btn btn-success" href="">edit</a>
          <form action="" method="POST" style="display: inline;">
            <button class="btn btn-danger" type="submit">delete</button>
          </form>
        </div>
      </div>
    </li>
  </ul>

</div>