<div class="container">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div>
    <span>總金額:</span>
  </div>
  <ul>
    <li class='list-group-item'>
      <div class="row">
        <div class="col-auto mr-auto">
          <h4 style="display: inline; vertical-align: middle;">
            <i class="fas fa-utensils">
              <h3>test</h3>
            </i>

          </h4>
        </div>
        <div class="col-auto">
          <a class="btn btn-success" href="">edit</a>
          <form action="" method="POST" style="display: inline;">
            <button class="btn btn-danger" type="submit">delete</button>
          </form>
        </div>
      </div>
    </li>
  </ul>

</div>